:root {
  --color-bg: var(--figma-color-bg);
  --color-bg-hover: var(--figma-color-bg-hover);
  --color-bg-active: var(--figma-color-bg-pressed);
  --color-border: var(--figma-color-border);
  --color-border-focus: var(--figma-color-border-selected);
  --color-icon: var(--figma-color-icon);
  --color-text: var(--figma-color-text);
  --color-bg-brand: var(--figma-color-bg-brand);
  --color-bg-brand-hover: var(--figma-color-bg-brand-hover);
  --color-bg-brand-active: var(--figma-color-bg-brand-pressed);
  --color-border-brand: var(--figma-color-border-brand);
  --color-border-brand-focus: var(--figma-color-border-selected-strong);
  --color-text-brand: var(--figma-color-text-onbrand);
}

html,
body,
main {
  height: 100%;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-align: center;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}
